@font-face {
  font-family: "flaticon_shofy";
  src: url("../fonts/flaticon_shofy.ttf?dee88fc45715450dd1106c3509e3ddac")
      format("truetype"),
    url("../fonts/flaticon_shofy.woff?dee88fc45715450dd1106c3509e3ddac")
      format("woff"),
    url("../fonts/flaticon_shofy.woff2?dee88fc45715450dd1106c3509e3ddac")
      format("woff2"),
    url("../fonts/flaticon_shofy.eot?dee88fc45715450dd1106c3509e3ddac#iefix")
      format("embedded-opentype");
}
:root {
  font-family: flaticon_shofy !important;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
